body {
  font-family: Trebuchet;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  background: #E2EBED;
}

h1 {
  color: #cccc33;
}

h3, h5 {
  color: #555;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #cccc33;
}

.page-wrapper {
  margin: 0 auto;
  width: 500px;
  position: relative;
  background: #fff;
  padding: 0 10px 20px 10px;
  text-align: left
}

