body {
  font-family: didot;
  font-color: black;
  height: 100%;
  margin: 0 0 50px; 
}

.button.button-primary {
  font-family: courier;
  color: black;
  background: none;
  font-weight: 300;
  font-size: 12px;
  border: none;
}

.button.button-primary:hover {
  background: none;
  color: #999;
}

ul {
 list-style: none;
 line-height: 1;
 font-size: 80%;
} 

.container {
  border-bottom:solid #999 1px;
}

@media (min-width: 550px) {
  .columns {
    text-align: left;

  }
}